@import '../../../styles/utilities.scss';

.header__wrapper {
  background: url('../../../assets/images/hair-cat-header.jpg');
  width: 100%;
  height: auto;
  padding-bottom: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__center {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
.header__content {
  display: flex;
  flex-direction: column;
  margin-top: 104px;
}

.header__content h1 {
  color: $titleColor;
  font-size: 82px;
  line-height: 98px;
  letter-spacing: 0px;
  font-family: $titleFont;
  font-weight: 800;
}

.header__content p {
  margin-top: 22px;
  width: 400px;
  line-height: 26px;
  font-size: 18px;
  letter-spacing: 0;
  font-family: $parFont;
  font-weight: 400;
  color: $titleColor;
}

// button

.header__content button {
  width: 200px;
  height: 48px;
  font-family: $titleFont;
  background-color: $buttonColor;
  border-radius: 49.5px;
  margin-top: 50px;
  color: white;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-weight: bold;
  transition: 1s;
}

.header__content button:hover {
  -webkit-box-shadow: 0px 20px 30px 0px rgba(52, 209, 209, 0.72);
  -moz-box-shadow: 0px 20px 30px 0px rgba(52, 209, 209, 0.72);
  box-shadow: 0px 20px 30px 0px rgba(52, 209, 209, 0.72);
}

.header__content__link {
  width: 200px;
  height: 48px;
  font-family: $titleFont;
  background-color: $buttonColor;
  border-radius: 49.5px;
  margin-top: 50px;
  color: white;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-weight: bold;
  transition: 1s;
}

.header__content__link:hover {
  -webkit-box-shadow: 0px 20px 30px 0px rgba(52, 209, 209, 0.72);
  -moz-box-shadow: 0px 20px 30px 0px rgba(52, 209, 209, 0.72);
  box-shadow: 0px 20px 30px 0px rgba(52, 209, 209, 0.72);
}

@media screen and (max-width: 700px) {
  .header__content {
    align-items: center;
    justify-content: center;
  }
  .header__content p {
    text-align: center;
    color: white;
  }

  .header__content h1 {
    font-size: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 430px) {
  .header__content p {
    width: 200px;
  }

  .header__content h1 {
    font-size: 30px;
  }
}
