@import '../../../styles/utilities.scss';

.panel__parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel__img-parent {
  flex: 1;
}

.panel__img-parent img {
  height: 480px;
  width: 480px;
  object-fit: contain;
}

.panel__content-parent {
  margin-top: 50px;
  flex: 1;
  position: relative;

  h6 {
    color: $buttonColor;
    margin-bottom: 17px;
    font-family: $titleFont;
    letter-spacing: 2.4px;
    font-weight: bold;
    font-size: 12px;
  }

  h5 {
    margin-bottom: 12px;
    font-family: $parFont;
    font-size: 22px;
    line-height: 32px;
    color: $titleColor;
    font-weight: 100;
    width: 250px;
  }

  p {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0;
    font-family: $sans;
    font-weight: bold;
    color: $titleColor;
  }

  h2 {
    position: absolute;
    font-family: $titleFont;
    top: -200px;
    left: -200px;
    z-index: -2;
    font-weight: bold;
    color: #eeeeee;
    letter-spacing: 0;
    width: 473px;
    font-size: 470px;
    height: 520px;
  }
}

@media screen and (max-width: 1000px) {
  .panel__parent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .panel__img-parent img {
    width: 100%;
  }

  .panel__content-parent {
    h2 {
      display: none;
    }

    h6 {
      text-align: center;
      margin-top: 30px;
    }

    h5 {
      margin: 0;
      padding: 0;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 2px;
    }
  }
}

@media screen and (max-width: 540px) {
  .panel__img-parent img {
    display: none;
  }
}

//second panel style

.second__parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
  margin-top: 60px;
}

.second__img-parent {
  flex: 1;
}

.second__img-parent img {
  height: 480px;
  width: 480px;
  object-fit: contain;
}

.second__content-parent {
  flex: 1;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;

  h6 {
    color: $buttonColor;
    margin-bottom: 17px;
    font-family: $titleFont;
    letter-spacing: 2.4px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 200px;
  }

  h5 {
    margin-bottom: 12px;
    font-family: $parFont;
    font-size: 22px;
    line-height: 32px;
    color: $titleColor;
    font-weight: 100; // de modificat
    width: 311px;
    margin-left: 135px;
    padding-right: 75px;
    text-align: right;
  }

  p {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0;
    font-family: $sans;
    font-weight: bold;
    color: $titleColor;
    margin-left: 65px;
    text-align: right;
  }

  h2 {
    position: absolute;
    font-family: $titleFont;
    top: -200px;
    left: -60px;
    z-index: -2;
    font-weight: bold;
    color: #eeeeee;
    letter-spacing: 0;
    width: 473px;
    font-size: 470px;
    height: 520px;
  }
}

@media screen and (max-width: 1000px) {
  .second__parent {
    margin-right: 0px;
    margin-top: 60px;
  }
  .second__parent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .second__img-parent img {
    width: 100%;
    order: 1;
  }

  .second__content-parent {
    order: 2;

    h2 {
      display: none;
    }

    h6 {
      text-align: center;
      margin-left: 0px;
    }

    h5 {
      margin: 0;
      padding: 0;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
      width: 250px;
      height: 64px;
    }

    p {
      margin: 0;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 540px) {
  .panel__img-parent img {
    display: block;
  }
}

.panel-wrapper {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

@media screen and (max-width: 1000px) {
  .panel-wrapper {
    width: 60%;
  }
}
