@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$titleFont: 'Montserrat', sans-serif;
$parFont: 'Roboto', sans-serif;
$sans: 'Open Sans', sans-serif;
$titleColor: #0c3c3d;
$buttonColor: #34d1d1;
$footerBackground: #e5f5f4;
